<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Comunícate con nosotr+s</h2>
                    <h3 class="section-subheading text-muted">Utilizamos GitHub para mantener los eventos. Tambien nos puedes escribir por correo electronico para a~adir eventos.</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="{{ site.github.issues_url }}" class="btn btn-xl">Comunícate!</a>
                  </div>
            </div>
        </div>
    </section>
