<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.github.url | replace:'http:','https:' }}{{ page.url | replace:'index.html','' }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Asambleas de Pueblo">
    <meta name="twitter:creator" content="@ian_prc">
    <meta name="twitter:title" content="Asambleas del Pueblo de Puerto Rico">
    <meta name="twitter:description" content=" Dialogamos las preocupaciones e ideas que tenemos en torno a la situación actual del país.">
    <meta name="twitter:image" content="https://timedotcom.files.wordpress.com/2019/07/puerto-rico-ricky-protests-lede.jpg">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: https://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ site.github.url | replace:'http:','https:' }}/style.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ site.github.url | replace:'http:','https:' }}/css/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
