<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Asambleas</h2>
                    <h3 class="section-subheading text-muted">Próximas asambleas y asambleas recientes:</h3>
                </div>
            </div>
            <div class="col-lg-12">
              <ul class='events'>
              {% assign isEvent = 0 %}
              {% for post in site.posts reversed %}
                {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
                {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
                {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
                {% capture postday %}{{post.date | date: '%j'}}{% endcapture %}
                {% assign postday = postday | plus: 0 %}
                {% assign nowday = nowday | minus: 2 %}
                {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
                  {% assign isEvent = 1 %}
                  <li>
                    <a class='eventTitle' href="{{ post.link }}">{{ post.title }}, {{ post.location }}, {{ post.date | date: "%-d / %m / %y"}}, {{post.startTime | date:"%r"}} </a>
                    <div class='eventSub'>{{ post.text }}</div>
                  </li>
                {% endif %}
              {% endfor %}
              {% if isEvent == 0 %}
                <a class='eventTitle' href="{{ site.github.issues_url }}">Todavia no hay asambleas propuestas. Anota la tuya aqui!</a>

              {% else %}
              <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="{{ site.github.issues_url }}" class="btn btn-xl eventSuggest">Organiza una asamblea!</a>
                        <!--<a href="http://mozillascience.github.io/studyGroupHandbook/event-types.html#workalong" class="btn btn-xl eventSuggest">How to Lead a Study Group Session</a> -->
                    </div>
              </div>
              {% endif %}
              </ul>
            </div>
            {% if site.calendar_on %}
            <div class="col-lg-6">
              <h3 class="section-heading eventInstructions">Subscribete a nuestro calendario de asambleas!</h3>
              <h3 class="section-subheading text-muted eventSubinstructions">Te invitamos a seguir <a href="{{ site.calendar_embed_url }}" target="_blank">nuestro calendario</a>, donde los eventos serán publicados. </h3>
              <h3 class="section-subheading text-muted eventSubinstructions">Si usas Google Calendar, puedes añadir nuestro calendario al presionar el botón de "Google Calendar" en la esquina inferior derecha de <a href="{{ site.calendar_embed_url }}" target="_blank">esta página</a>.</h3>
              <h3 class="section-subheading text-muted eventSubinstructions">Si usas otra aplicación de calendario, puedes darle 'copy - paste' a <a href="{{ site.calendar_ical_url }}">esta dirección </a> en cualquier aplicación de calendario que maneje el formato iCal.</h3>
            </div>
            {% endif %}
        </div>
    </section>
